<div class="container wrapper">
    <div class="row">

        <!-- Bp table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Company List</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Pic</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comp of CompaniesList">
                            <th scope="row">{{comp.TRNNO}}</th>
                            <td>{{comp.CNAME}}</td>
                            <td>{{comp.PIC}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/bp/', comp.TRNNO]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteCompany(comp)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
