
<div *ngIf="showMsg">
    <p class="alert alert-success">
        <a href="#" (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note: </strong> Record Added Successfully!.
    </p>
</div>
<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-6">
            <h3>Add Exam Type</h3>
            <form [formGroup]="exmForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Exam Type</label>
                    <input type="text" formControlName="etype" class="form-control" maxlength="50">
                </div>
                <!-- <div class="form-group">
                    <label> Status</label>
                    <input class="form-control" formControlName="status"  maxlength="1">
                </div> -->
                <div>
                    <mat-form-field>
                        <mat-label>Status </mat-label>
                        <mat-select formControlName='status'>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let cl of StatusTypeList" [value]="cl.status">
                                {{cl.state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]='exmForm.invalid'>Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <app-exam-list></app-exam-list>
        </div>
    </div>
</div>
Angular Generated Form Model : {{exmForm.value | json}}
