<div class="container wrapper">
    <div class="row">

        <!-- Bp table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Blood Groups</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Abbreviation</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dpt of DeptsList">
                            <th scope="row">{{dpt.TRNNO}}</th>
                            <td>{{dpt.ABR}}</td>
                            <td>{{dpt.DESCRIP}}</td>
                            <td>{{dpt.STATUS}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/dept/', dpt.TRNNO]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteDept(dpt)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
