<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-12">
            <h3>Update Department</h3>
            <form [formGroup]="updateDeptForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Department Abbreviation</label>
                    <input type="text" formControlName="ABR" class="form-control" maxlength="5">
                </div>
                <div class="form-group">
                    <label>Department Description</label>
                    <input type="text" formControlName="DESCRIP" class="form-control" maxlength="50">
                </div>
                <!-- <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" formControlName="STATUS"  maxlength="1">
                </div> -->
                <div>
                    <mat-form-field>
                        <mat-label>Status </mat-label>
                        <mat-select formControlName='STATUS'>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let cl of StatusTypeList" [value]="cl.status">
                                {{cl.state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">                    
                    <input type="text" formControlName="TRNNO" hidden  class="form-control">
                </div>                
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
</div>
