


  <div style="padding:5px">
    <ul class="nav nav-tabs">
     <li routerLinkActive="active"><a routerLink="home">Home</a></li>
     <li routerLinkActive="active"><a routerLink="employees">Employees</a></li>
    </ul>
     <router-outlet></router-outlet>
  </div>
  
  <ngb-tabset>
    <ngb-tab title="Tab One">
      <ng-template ngbTabContent>
        <p>Tab one content here</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tab Two">
      <ng-template ngbTabContent>
        <p>Tab two content here</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tab Three">
      <ng-template ngbTabContent>
        <p>Tab three content here</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  