<!--
<mat-toolbar color="primary" class="navbar">
  <div>EMS</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    -->
    <!--For Tree menu-->
    <!--
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

    <button mat-icon-button disabled></button>
    <button mat-button (click)="logNode(node)">
    {{node.name}}
  </button>

  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="opened = !opened">Toggle Open</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

-->
<!--
  <ngb-tabset>
    <ngb-tab title="Cast">
      <ng-template ngbTabContent>
        <app-cast></app-cast>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Add Blood Group">
      <ng-template ngbTabContent>
        <app-bp></app-bp>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Classes">
      <ng-template ngbTabContent>
        <app-classes></app-classes>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Company">
      <ng-template ngbTabContent>
        <app-company></app-company>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Departments">
      <ng-template ngbTabContent>
        <app-dept></app-dept>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Exam Types">
      <ng-template ngbTabContent>
        <app-exam></app-exam>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Education Types">
      <ng-template ngbTabContent>
        <app-edu></app-edu>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Fee Types">
      <ng-template ngbTabContent>
        <app-feetype></app-feetype>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Leave Types">
      <ng-template ngbTabContent>
        <app-leavetype></app-leavetype>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Subject Types">
      <ng-template ngbTabContent>
        <app-subject></app-subject>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

   -->
   <app-navigationpage></app-navigationpage>
   <!-- <router-outlet></router-outlet> -->
    
  
   
   <!-- <app-login></app-login> -->
   
   <!-- <app-empinfo></app-empinfo> -->
   <!-- <app-teacherinfo></app-teacherinfo> -->
  <!-- <app-markssheet></app-markssheet> -->
  <!-- <app-totalmarks></app-totalmarks> -->
  <!-- <app-totalmarks-list></app-totalmarks-list> -->
