<div *ngIf="showMsg">
    <p class="alert alert-success">
        <a href="#" (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note: </strong> Record Deleted Successfully!.
    </p>
</div>
<div class="container wrapper">
    <div class="row">

        <!-- Sub table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Subjects</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Subject Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subs of SubjectsList">
                            <th scope="row">{{subs.TRNNO}}</th>
                            <td>{{subs.SNAME}}</td>
                            <td>{{subs.SCODE}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/subject/', subs.TRNNO]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteSubject(subs)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
