<div *ngIf="showMsg">
    <p class="alert alert-success">
        <a href="#" (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note: </strong> Record Deleted Successfully!.
    </p>
</div>
<div class="container wrapper">
    <div class="row">

        <!-- FeeType table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Fee Types</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fee Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feetype of FeeTypesList">
                            <th scope="row">{{feetype.TRNNO}}</th>
                            <td>{{feetype.FTYPE}}</td>
                            <td>{{feetype.STATUS=='A'? 'Active': 'De Active'}}</td>
                            <td>
                                <button mat-icon-button title="edit feetype" [routerLink]="['/feetype/', feetype.TRNNO]"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button title="delete feetype" (click)="deleteFeeType(feetype)"><mat-icon>delete</mat-icon></button>
                                <!-- <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/feetype/', feetype.TRNNO]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteFeeType(feetype)">Remove</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
