<div *ngIf="showMsg">
    <p class="alert alert-success">
        <a href="#" (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Note: </strong> Record Added Successfully!.
    </p>
</div>
<mat-tab-group>
    <mat-tab label="Create New Group">
        <form [formGroup]="createNewGroupForm" (ngSubmit)='onSubmitGroups()'>
            <div class="container">
                <h2>Create New Group:</h2>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Group Name</mat-label>
                            <input matInput type="text" formControlName="GRPNAME">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]='myDatePickerDOB' disabled=true formControlName='DT'>
                            <mat-datepicker-toggle matSuffix [for]='myDatePickerDOB' disabled=false>
                            </mat-datepicker-toggle>
                            <mat-datepicker #myDatePickerDOB disabled=false touchUi>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Campus Name </mat-label>
                            <mat-select formControlName='COMPDTL_TRNNO'>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let ex of CampusList" [value]="ex.id">
                                    {{ex.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button type="button" mat-button (click)='addNewSuject()'>Add New Subject</button>
                    </div>
                </div>
                <div formArrayName="GRPDTLs">
                    <div *ngFor="let X of createNewGroupForm['controls'].GRPDTLs['controls']; let ix=index">
                        <div formGroupName="{{ix}}" class="EMDTLs">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-label>Subject</mat-label>
                                        <mat-select 
                                        (selectionChange)='subjectSelectionChange(ix,$event)'
                                        formControlName="TRNNO">                                            
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let sub of SubjectsList" [value]="sub.TRNNO">
                                                {{sub.SNAME}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-label>Subject Code</mat-label>
                                        <input matInput type="text" formControlName="SCODE">
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-2">
                                    <button mat-icon-button title="delete row" color="warn" (click)="deleteRow(ix)"
                                        *ngIf="createNewGroupForm['controls'].GRPDTLs['controls'].length > 1">
                                        <mat-icon id="deleteid">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <div id="msg" *ngIf="createNewGroupForm.invalid? message: ''" style="color: brown;">{{message}}</div>
                    <div class="col-md-12">
                        <button type="submit" [disabled]='createNewGroupForm.invalid'>Submit</button>
                        <!-- <div>{{empForm.get('addresses').controls[i].ADDDESC.value}}</div> -->
                        <div>Angular Generated Form Model : {{createNewGroupForm.value | json}}</div>
                    </div>
                </div>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Find And Update">
        <!-- <form [formGroup]='totalMarksForm' (ngSubmit)='onSubmit()'>

        </form> -->
    </mat-tab>
</mat-tab-group>
