<div class="container wrapper">
    <div class="row">

        <!-- Edu table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Blood Groups</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Blood Group Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let edus of EdusList">
                            <th scope="row">{{edus.TRNNO}}</th>
                            <td>{{edus.DNAME}}</td>
                            <td>{{edus.DABRV}}</td>
                            <td>{{edus.STATUS}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edu/', edus.TRNNO]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteEdu(edus)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
