<div class="container wrapper wrapper2">
    <div class="row">

        <!-- Form -->
        <div class="col-md-6">
            <h3>Add Education Degree</h3>
            <form [formGroup]="eduForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                    <label>Degree Name</label>
                    <input type="text" formControlName="dname" class="form-control" maxlength="50">
                </div>
                <div class="form-group">
                    <label>Degree Abbreviation</label>
                    <input type="text" formControlName="dabrv" class="form-control" maxlength="6">
                </div>
                <!-- <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Status </mat-label>
                        <mat-select formControlName='status'>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let cl of StatusTypeList" [value]="cl.status">
                                {{cl.state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <!-- <div class="form-group">
                    <label> Status</label>
                    <input class="form-control" formControlName="status"  maxlength="1">
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <app-edu-list></app-edu-list>
        </div>
    </div>
</div>
Angular Generated Form Model : {{eduForm.value | json}}

